.place {
	box-shadow: 0 0 7px #ddd;
	transition: var(--mainTransition);
}
.place:hover {
	box-shadow: var(--lightShadow);
}
/* .img-container {
	position: relative;
	background: var(--primaryColor);
	transition: var(--mainTransition);
} */
.link {
	text-transform: uppercase;
	letter-spacing: var(--mainSpacing);
	color: var(--heading-color);
	font-weight: 600;
	border: 2px solid var(--mainWhite);
	padding: 0.9rem 1.6rem;
	display: inline-block;
	transition: var(--mainTransition);
	cursor: pointer;
}
.link:hover {
	background: var(--mainWhite);
	color: var(--primaryColor);
}
/* .img-container:hover .link {
	opacity: 1;
} */
.footer {
	padding: 1rem;
	text-align: left;
}
.footer h3 {
	text-transform: capitalize;
	margin-bottom: 0;
	text-align: center;
}
.info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-transform: uppercase;
	align-items: center;
	margin-top: 0.5rem;
}
.info h6,
.info h4 {
	margin-bottom: 0;
}
.country {
	text-transform: capitalize;
	color: var(--primaryColor);
	display: flex;
	align-items: center;
}
.icon {
	margin-right: 0.4rem;
}
.details {
	color: var(--darkGrey);
	text-transform: uppercase;
	text-align: right;
}
