@media screen and (min-width: 576px) {
	.menubar {
		/* width: 100%; */
		padding: 0 2rem;
		background: rgba(255, 2550, 255, 0.9);
		position: fixed;
		z-index: 1;
		top: 20px;
	}
}
@media screen and (min-width: 1024px) {
	.logo-btn {
		display: none;
	}
	.nav-center {
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav-links {
		height: auto;
		display: flex;
		margin: 0;
	}
	.nav-social-links {
		display: flex;
		line-height: 0;
	}
	.nav-social-links a {
		color: var(--primaryColor);
		border: 1px solid var(--primaryColor);
		padding: 0.5rem;
		margin: 0 0.5rem;
		font-size: 0.8rem;
		transition: var(--mainTransition);
	}

	.nav-social-links a:hover {
		color: var(--mainWhite);
		border: 1px solid var(--mainWhite);
		transform: translateY(-5px);
	}
}

img {
	margin-bottom: 0 !important;
}
.card {
	/* background: #fff;
	box-shadow: 0 0 7px #ddd;
	padding: 10px; */
	position: relative;
	width: 100%;

	color: white;
	text-align: left;
}
.card-title {
	color: white;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	line-height: 2.2rem;
	font-weight: 600;
	letter-spacing: 0.225em;
	text-transform: uppercase;
}
.card-link {
	color: #9b9b01;
	border-bottom: dotted 1px;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
	text-decoration: none;
}

.card img {
	display: block;

	width: 100%;
	height: 400px;
	object-fit: cover;
}

.card__overlay {
	position: absolute;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 0%, #000000 100%);
	color: #f1f1f1;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 20px;
}

.card:hover .card__overlay {
	opacity: 1;
}

/*
.siteLogo {
	color: white;
	font-size: 4rem;
	margin-top: -2rem;
	margin-left: 4rem;
	position: fixed;
}
*/
.siteLogo img {
	filter: drop-shadow(0 2px 2px #333);
}

.stats {
	position: absolute;
	left: 50%;
	transform: translate(-10%);
	grid-gap: 100px;
	margin-top: 1rem;
	padding: 3rem;
	display: flex;
	justify-content: space-between;
}
.stats h2 {
	font-size: 4rem !important;
	color: #fbbc05 !important;
	font-weight: 600 !important;
}
.stats p {
	margin-left: 1rem;
	color: #fff !important;
	font-size: 1.5rem !important;
}

.item1 {
	background-image: url(../images/project-management-small.jpg);
	background-size: cover;
}
.item2 {
	background-image: url(../images/design-build-small.jpg);
	background-size: cover;
}
.item3 {
	background-image: url(../images/take-small.jpg);
	background-size: cover;
}
.item4 {
	background-image: url(../images/estimate-small.jpg);
	background-size: cover;
}

.grid__section4 p {
	color: #fff !important;
}

.navbar {
	/* background: rgb(245, 245, 245, 0.8) !important; */
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: end;
}
.navbar:after {
	background: rgb(245, 245, 245, 1) !important;
	border-bottom: 3px solid #9b9b0091;
	content: "";
	position: absolute;
	height: 80px;
	width: 100%;
	left: 0;
	z-index: 1;
	top: -7px;
}

.onactive .menu__items {
	background: none !important;
}

.onLeft {
	margin-right: auto;
}

/* section:before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	height: 100%;
	z-index: 20;
	width: 7px;
	left: 42px;
	background-repeat: repeat-y;
	background-image: url(../images/bg-dec.png);
	opacity: 0.5;
} */

.statsPara {
	background-image: url(../images//canvas-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Responsive for Tablet & Mobile */
@media (max-width: 1024px) {
	.menubar {
		width: 100%;
		padding: 0 2rem;
		background: whitesmoke;
		position: fixed;
		z-index: 1500;
		top: 0px;
		left: 0;
	}
	.fixed-top {
		padding: 0;
	}

	.site-logo {
		margin-right: auto;
	}
	.nav-center {
		max-width: 1400px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navbar:after {
		content: none;
	}

	.heroTitle h1 span {
		font-size: 100px !important;
	}

	.image img {
		max-width: 70% !important;
		margin: 0 auto;
	}

	.lg {
		display: none !important;
	}
	/* Home */
	.flexCol {
		display: flex;
		flex-direction: column;
	}
	.stats {
		left: 0;
	}

	.statsPara {
		height: 400px;
	}

	.grid__section4 {
		grid-template-columns: 1fr !important;
	}

	/* Portfolio */
	.innerTitle h2 {
		text-align: center;
	}
	.card img {
		height: auto !important;
	}

	/* Banner */

	.icon-set-group {
		margin-left: 0 !important;
		padding-left: 60px !important;
	}
	.icon-set-group svg {
		padding-right: 60px !important;
	}

	.moreBtn {
		left: 0 !important;
		margin-left: 30px !important;
	}
}

@media (max-width: 767px) {
	.heroTitle h1 span {
		font-size: 50px !important;
	}

	.heroTitle p {
		font-size: 20px;
	}

	.innerTitle h2 {
		font-size: 1.5rem;
	}
	.cntForm input,
	textarea {
		width: 100% !important;
	}
}

.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.25rem;
}

@media (min-width: 1024px) {
	.fixed-top {
		padding: 1.2rem 1.5rem;
		position: relative;
		display: flex;
		justify-content: end;
		margin-bottom: -80px;
		align-items: center;
		z-index: 1030;
	}

	.blogGrid {
		display: grid !important;
		/* grid-template-columns: 1fr 1fr 1fr; */
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
		grid-gap: 20px;
		margin: 4rem 0;
	}
	.small {
		display: none;
	}
}

.blogGrid {
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
	margin: 4rem 0;
}
