.clients h2 {
	font-family: poppins;
	font-size: 3rem;
	font-weight: 400;
	padding-bottom: 1em;
	color: var(--heading-color);
	text-transform: uppercase;
	margin: 0;
	position: relative;
}
.clients h2:after {
	content: "";
	display: flex;
	height: 0.5rem;
	width: 8rem;
	background: var(--heading-color);
	margin-top: 15px;
	position: absolute;
	left: 34%;
	bottom: 30px;
}
.clients h2 span {
	font-weight: 800;
}

.clients {
	padding: 4rem 0;
	text-align: center;
}
.sub-text {
	text-transform: uppercase;
	font-size: 1.3rem;
	text-align: center;
	letter-spacing: 7px;
}
.sub-text span {
	color: var(--primaryColor);
}
.center {
	width: 80vw;
	/* margin: 3rem auto; */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}

@media screen and (min-width: 576px) {
	.center {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		/* grid-template-columns: 1fr 1fr 1fr; */
	}
}
@media screen and (min-width: 1200px) {
	.center {
		width: 100%;
		max-width: 1600px;
	}
}

@media (max-width: 1024px) {
	.center {
		width: auto;
	}
}
