/* html {
	box-sizing: border-box;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 0.075em;
	margin: 0;
} */

/*
body {
	font-family: sans-serif !important;
	padding: 0;
	margin: 0;
} */

/*
p {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.225em;
	font-size: 2.5rem;
} */
/*
a {
	background-color: #ed4933;
	box-shadow: none;
	color: #ffffff;
	border-radius: 3px;
	border: 0;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.225em;
	padding: 1.8rem 0.8rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
} */
img {
	margin-bottom: 0 !important;
}
.card {
	/* background: #fff;
	box-shadow: 0 0 7px #ddd;
	padding: 10px; */
	position: relative;
	width: 100%;
	/* height: 200px; */
	margin: 10px 10px;
	color: white;
	text-align: left;
}
.card-title {
	color: white;
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	line-height: 2.2rem;
	font-weight: 600;
	letter-spacing: 0.225em;
	text-transform: uppercase;
}
.card-link {
	color: #9b9b01;
	border-bottom: dotted 1px;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
	text-decoration: none;
}

.card__img {
	display: block;

	width: 100%;
	height: auto;
	object-fit: cover;
}

.card__overlay {
	position: absolute;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 0%, #000000 100%);
	color: #f1f1f1;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 20px;
}

.card:hover .card__overlay {
	opacity: 1;
}

/*
.siteLogo {
	color: white;
	font-size: 4rem;
	margin-top: -2rem;
	margin-left: 4rem;
	position: fixed;
}
*/
.siteLogo img {
	filter: drop-shadow(0 2px 2px #333);
}

.fixed-top {
	padding: 1.5rem 4rem;
	width: var(--container-width);
	position: fixed;
	display: flex;
	justify-content: end;
	margin: 0 auto;
	align-items: center;
	z-index: 1030;
}

/*

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	align-items: center;
}
*/
